* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(152, 77, 196); */
}

#track-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.track {
    width: 75%;
}

